$unit: 'px'
.section
  +w($desktop#{$unit})
.head
  padding: 25px 0
  &-tel
    margin-right: 25px
  &-cons
    margin-right: 132px
  &-logo
    flex: 0 0 224px
    margin-right: 70px
    img
      +w(224px)
.mob
  &-nav
    a
      font-family: $f_bold
      text-transform: uppercase

.main-slider
  &-slide
    &-cont
      padding: 40px 80px
      div:first-child
        &>p
          font-size: 36px
        button
          span
            letter-spacing: 3px
.catalog
  &-unit
    +wh(554px,209px)
    &-photo
      height: 165px
  &-units
    padding: 10px 20px

.stocks
  &-unit
    +wh(555px,273px)
  &-photo
    flex: 0 0 270px
  &-desc
    flex: 0 0 285px
    svg
      +w(38px)
  &-h3
    font-size: 95px
    line-height: 95px
  &-h4
    font-size: 41px
    line-height: 41px
  &-h6
    font-size: 24px
    line-height: 24px

.new
  &-units
    +w(1100px)
  &-slide
    +w(265px)
    margin: 0 5px
  &-photo
    height: 350px
  &-desc
    &-row:last-child
      span
        font-size: 24px

.foot
  &-block:nth-child(2)
    margin-right: 211px
  &-copy
    margin-top: 110px
    span
      margin-right: 110px