$unit : 'px'
header
  height: 79px
a
  color: $headGray
.section
  +w($mobile#{$unit})
  margin: 0 auto
.head,.foot
  background-image: url('../img/head-bgc.png')
  background-color: $headGray
  background-size: 350%
.head
  padding: 14px 0
  &-scroll
    +w(100%)
    position: fixed
    z-index: 99
    .head
      &-second
        transform: translateY(0)
  svg
    fill: #fff
  &-row
    display: flex
    align-items: center
  &-logo
    flex: 0 0 145px
    img
      +w(145px)
  &-like
    height: 24px
  &-logo,&-like
    margin-right: auto
  &-search
    &-form
      display: none
      align-items: center
      margin-left: 60px
      input
        +font(14px,$f_reg,$headGray)
        +w(185px)
        padding-left: 15px
        border: none
        border-bottom: 1px solid
        margin-right: 5px
      svg
        fill: $headGray
  &-second
    +wh(100%)
    transition: .35s ease
    transform: translateY(8px)
    position: fixed
    z-index: 91
    display: none
    background-color: rgba(36,36,34,0.8)
  &-cat
    +w(100%)
    transition: .35s ease
    padding: 20px 10px
    position: absolute
    z-index: 99
    background-color: #fff
    box-shadow: 0 10px 10px rgba(0,0,0,0.5)
    display: none
    &-basis
      height: 80vh
      overflow-y: auto
    &-unit
      +wh(285px,113px)
      border: 1px solid $headGray
      display: block
      margin: 10px 0
    &-title
      font-family: $f_bold
      text-transform: uppercase
      margin: 20px 0
    &-photo
      +wh(100%,88px)
      overflow: hidden
      img
        min-width: 100%
        min-height: 100%
    &-name
      display: flex
      align-items: center
      span
        font-family: $f_bold
        margin: 0 10px 0 5px
      svg
        fill: $pink
  &-form
    +wh(100%,100vh)
    overflow: scroll
    background-color: rgba(0,0,0,.8)
    position: fixed
    z-index: 100
    top: 0
    padding-top: 100px
    padding-bottom: 100px
    display: none
    form,.head-form-cont
      display: flex
      align-items: center
      flex-direction: column
      background-color: #fff
      position: relative
      padding: 60px 25px 30px
    &-title
      h3
        +font(16px,$f_bold)
        text-align: center
    &-desc
      p
        margin-top: 20px
      &-pass
        span
          color: #e7c6b5
          margin-top: 20px
          display: block
    &-span,input
      +w(100%)
      margin-top: 50px
    input
      padding-bottom: 5px
      border: none
      border-bottom: 1px solid $headGray
      display: block
    &-input-cont
      +w(100%)
      margin-top: 30px
      span:nth-child(2)
        color: $pink
        margin-left: 5px
      input
        margin-top: 30px
      &-reg
        +w(100%)
        .head-form-submit
          margin-top: 10px
    &-a
      margin-top: 30px
      color: $pink
      display: block
      text-align: center
    &-reg-accept
      margin-top: 10px
      label
        display: flex
        align-items: flex-start
        svg
          flex: 0 0 18px
          margin-right: 5px
          &:nth-child(2)
            display: none
            fill: $pink
        span
          span
            color: $pink
    &-submit
      +w(100%)
      padding: 17px 0
      background-color: $pink
      border: 1px solid $headGray
      margin-top: 35px
      display: block
      span
        +w(100%)
        +font(12px,$f_reg,#fff)
        display: block
        text-align: center
        text-transform: uppercase
        letter-spacing: 3px
    &-button
      background-color: #eef2f5
      span
        color: $headGray
    &-offer
      margin-top: 20px
      label
        display: block
        height: 30px
        position: relative
        span
          color: $pink
          transition: .7s ease
          position: absolute
          left: 0
          top: 13px
          &:nth-child(2)
            visibility: hidden
            opacity: 0
        svg
          margin-left: 5px
          fill: $pink
          transform: rotate(90deg)
          transition: .7s ease
          position: absolute
          top: 10px
          left: 80px
      &-cont
        display: block
        max-height: 320px
        overflow: hidden
        transition: .7s ease
    &-capcha
      display: flex
      flex-wrap: wrap
      align-items: flex-end
      justify-content: space-between
      margin-top: 20px
      span
        flex: 0 0 100%
      input
        flex: 0 0 112px
        margin-top: 0
      img
        flex: 0 0 127px
        +wh(127px,46px)
  &-buy
    &-desc
      margin-top: 20px
      span:first-child
        font-family: $f_bold
        margin-right: 5px
      span:last-child
        text-transform: uppercase
.bread-crumps,.bread-crumps-mob
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 10px 0
  a
    font-size: 12px
    color: #e7c6b5
    &:last-child
      color: $headGray
      max-width: 200px
      height: 13px
      overflow: hidden
  div
    +wh(7px)
    margin: 0 10px
    transform: rotate(45deg)
    border-right: 1px solid $headGray
    border-top: 1px solid $headGray
    &:first-child
      transform: rotate(-135deg)
      border-color: #e7c6b5
.bread-crumps
  display: none
.form-close
  position: absolute
  left: 20px
  top: 20px
  svg
    fill: $pink
.mob
  &-menu
    +dfc
    flex: 0 0 50px
    margin-right: 22.5px
  &-nav
    +w(100%)
    padding: 60px 0 0
    display: flex
    flex-direction: column
    align-items: flex-start
    background-color: #fff
    position: fixed
    top: 0
    right: 0
    &-but
      +font(14px,$f_bold)
      +w(100%)
      padding: 10px 60px
      display: flex
      align-items: center
      position: relative
      &-span
        +wh(100%,5px)
        background-color: #000
        position: absolute
        bottom: 0
        display: none
    &-button
      padding: 10px 18px
      svg
        fill: $pink
        margin-right: 18px
    &-last
      background-color: $pink
      color: #fff
      svg
        fill: #fff
    &-close
      padding: 0
      position: fixed
      top: 23px
      left: 18px
      svg
        fill: $pink
  &-none
    display: none!important

.main-slider
  background-image: url('../img/slider-bgc.jpg')
  &-cont
    +w(100%)
    margin-bottom: 0!important
  &-dots
    +w(246px)
    margin: auto
    display: flex
    justify-content: space-between
    position: absolute
    right: 0
    left: 0
    bottom: 15px
    li
      +wh(62px,6px)
      text-indent: -99999px
      background-color: #fff
      &.slick-active
        background-color: #000
  &-slide
    position: relative
    display: none
    &-cont
      position: relative
      z-index: 10
      padding: 10px 20px 37px
      div:first-child
        &>p
          +font(18px,$f_bold)
          &:first-child
            margin-bottom: 27px
          &:nth-child(2)
            margin-bottom: 16px
        &>span
          font-family: $f_bold
        button
          +w(100%)
          margin-top: 170px
          opacity: 50%
          padding: 17px 0
          border: 1px solid #fff
          background-color: $pink
          span
            text-transform: uppercase
            color: #fff
      div:last-child
        +w(160px)
        margin: auto
        position: absolute
        bottom: 90px
        right: 0
        left: 0
    &-bgc
      +wh(100%)
      background-color: #fff
      opacity: 80%
      position: absolute
      top: 0
      right: 0
.main-title
  display: flex
  flex-direction: column
  align-items: center
  div
    display: flex
    align-items: center
    margin: 15px auto 10px
  svg
    +w(19px)
    fill: $pink
    margin-right: 15px
  h2
    +font(16px,$f_bold)
    text-transform: uppercase
    letter-spacing: 2px
.catalog
  position: relative
  &-close
    left: inherit
    right: 20px
  &-cont
    display: flex
    flex-direction: column
    align-items: center
    &-page
      align-items: flex-start
  &-title
    display: flex
    align-items: center
    font-family: $f_bold
    text-transform: uppercase
    &-page
      font-family: $f_bold
    svg
      +w(24px)
      margin-right: 10px
      transform: rotate(180deg)
      fill: $pink
  &-unit
    +wh(295px,113px)
    border: 1px solid $headGray
    display: block
    margin: 10px 0
    &-photo
      +wh(100%,88px)
      overflow: hidden
      img
        min-width: 100%
        min-height: 100%
    &-name
      display: flex
      align-items: center
      span
        font-family: $f_bold
        margin: 0 10px 0 5px
      svg
        fill: $pink
.stocks
  &-catalog
    display: none
  &-unit
    +wh(295px,146px)
    margin: 10px 0
    display: flex
    align-items: center
  &-photo
    flex: 0 0 144px
    overflow: hidden
    img
      +w(100%)
  &-photo,&-desc
    height: 100%
  &-desc
    flex: 0 0 151px
    padding: 12px
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    svg
      +w(24px)
      transform: rotate(180deg)
      fill: #fff
      position: absolute
      top: 5px
      right: 5px
    span
      display: block
  &-h3
    +font(50px,$f_bold)
    line-height: 50px
  &-h6
    +font(12px,$f_bold)
    line-height: 12px
  &-button
    +wh(100%,24px)
    +dfc
    background-color: rgba(202,57,112,0.5)
    border: 1px solid #fff
    margin-top: 25px
    span
      font-size: 8px
      text-transform: uppercase
      letter-spacing: 1px
      color: #fff
  &-bezh,&-pink
    background-color: #e7c6b5
    .stocks-h3
      color: #fff
    .stocks-button
      background-color: rgba(255,255,255,.5)
      span
        color: $headGray
  &-gray
    background-color: #292929
    .stocks-h3,.stocks-h6
      color: #fff
    .stocks-h3
      font-size: 22px
      line-height: 25px
  &-yellow
    background-color: #f3efe3
    .stocks-h3
      font-size: 22px
      line-height: 25px
  &-pink
    background-color: #ca3970
    .stocks-h6
      color: #fff

.new
  &-cont
    display: flex
    flex-direction: column
    align-items: center
  &-units
    +w(295px)
    padding: 10px 0
  &-slide
    margin: 0 3px
    display: none
    &-stock,&-sell,&-sell-stock
      position: relative
      .cat-stock,.cat-sell
        position: absolute
        right: 5px
        top: 5px
        svg
            fill: $pink
    &-stock
      .cat-stock
        display: block
    &-sell
      .cat-sell
        display: block
      svg
        +wh(20px)
    &-sell-stock
      .cat-sell-stock
        position: absolute
        display: flex
        align-items: center
        right: 5px
        top: 5px
      .cat-stock,.cat-sell
        position: static
        display: block
        svg
          +wh(20px)
  &-photo
    +wh(100%,190px)
    overflow: hidden
    img
      min-width: 100%
      min-height: 100%
  &-desc
    padding: 10px
    background-color: #eef2f5
    &-row
      display: flex
      align-items: flex-start
      justify-content: space-between
      span
        +font(12px,$f_medium)
      &:last-child
        align-items: center
        margin-top: 7px
  &-product
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 10px
    .new-slide
      display: flex
      margin: 0 0 10px
.about
  position: relative
  &:before,&:after
    +wh(295px,1px)
    display: table
    content: ''
    background-color: $headGray
    margin: auto
  &-cont
    display: flex
    align-items: center
    flex-direction: column
    max-height: 280px
    overflow: hidden
    transition: .7s ease
  &-title
    h3
      text-align: center
      span
        +font(16px,$f_bold)
        display: block
  &-unit
    margin-top: 10px
  &-photo
    +w(295px)
    img
      +w(100%)
  &-sub-title
    margin: 10px 0
    h4
      font-family: $f_bold
  &-desc
    p
      font-family: $f_medium
  &-padding
    padding-bottom: 30px
    margin: 10px auto
  &-label
    display: flex
    align-items: center
    width: 300px
    margin: auto
    position: absolute
    bottom: 10px
    left: 0
    right: 0
    span
      font-family: $f_medium
      color: $pink
    svg
      fill: $pink
      transform: rotate(90deg)
      transition: .35s ease
.news
  padding: 20px 0
  &-title
    +font(16px,$f_bold)
    text-align: center
    margin-bottom: 20px
  &-slide
    padding: 0 10px
  &-data,&-body
    +font(14px,$f_medium,#4a4f53)
  &-sub-title
    +font(18px,$f_bold,$pink)
    margin: 10px 0

.cat
  &-title
    text-transform: none
  &-cont
    display: flex
    flex-wrap: wrap
    padding: 10px 0
    .new-slide
      +w(145px)
      display: block
      margin: 0 2.5px 5px
  &-sell,&-stock
    display: none

.sort
  margin-bottom: 10px
  display: none
  align-items: flex-start
  justify-content: space-between
  &-title
    font-family: $f_bold
  &-list
    +w(200px)
    height: 30px
    overflow: hidden
    border-bottom: 1px solid $headGray
    background-color: #fff
    padding: 10px 10px 0
    margin-top: -9px
    position: relative
    z-index: 90
    display: flex
    flex-direction: column
    align-items: flex-start
    transition: .35s ease
    button
      +w(100%)
      margin-bottom: 5px
      text-align: left
      position: relative
      z-index: 10
    svg
      position: absolute
      right: 0
      top: 7px
      transition: .35s ease
      transform: rotate(90deg)
    &-open
      height: 75px
      svg
        transform: rotate(270deg)
  &-negative
    order: 1
  &-activ
    order: 0
.pagination
  display: none
  align-items: center
  justify-content: space-between
  margin-bottom: 10px
  &-bottom
    display: none
  button
    +wh(20px)
    +dfc
    border-bottom: 3px solid transparent
    span
      color: $pink
    svg
      flex: 0 0 20px
      margin-top: -2px
    &:first-child,&:nth-child(2)
      svg
        transform: rotate(180deg)
    &:last-child,&:first-child
      svg:first-child
        margin-right: -7px
      svg:last-child
        margin-left: -7px
  &-activ
    border-color: $headGray!important
    span
      color: $headGray!important
aside
  +w(300px)
  margin: auto
.filter
  display: none
  +w(100%)
  padding: 50px 50px 20px 40px
  background-color: #eef2f5
  position: relative
  &-show
    display: none
  &-clear
    display: flex
    align-items: center
    right: 20px
    top: 15px
    &-bottom
      display: none
      top: inherit
      bottom: 15px
    svg
      +wh(16px)
    span
      color: $pink
  &-close
    top: 10px
    left: 30px
  &-close,&-clear
    position: absolute
    svg
      fill: $pink
  &-cont
    margin-bottom: 15px
  &-title
    +font(12px,$f_bold)
    margin-bottom: 10px
  &-price
    &-slider
      display: flex
      justify-content: space-between
      label
        display: none
      input
        +w(50px)
        padding-bottom: 5px
        border: none
        border-bottom: 1px solid $headGray
        background: inherit
      &-row
        margin: 10px 0
        border: none!important
        &>span
          border-radius: 100%
          border: none!important
          background: $pink!important
        &>div
          top: 1.5px!important
          height: 60%!important
  &-label
    +w(240px)
    margin-bottom: 4px
    position: relative
    label
      display: flex
      align-items: center
    svg
      margin-right: 5px
      fill: $pink
      &:nth-child(3)
        display: none
    input:checked~svg
      &:nth-child(2)
        display: none
      &:nth-child(3)
        display: block
  &-button
    +wh(225px,44px)
    +dfc
    border: 1px solid $headGray
    background-color: $pink
    color: #fff
  &-hidden
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 10px
    label
      +dfc
      height: 44px
      background-color: #eef2f5
      color: $pink
      &:first-child
        flex: 0 0 220px
      &:last-child
        flex: 0 0 70px
        svg
          +w(20px)
          fill: $pink

.delievery
  svg
    +w(40px)
    fill: $pink
    margin-bottom: 10px
  &-label
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding: 10px 0
    margin-top: 10px
    background-color: #f3efe3
    &>div
      margin-bottom: 20px
  &-title
    display: flex
    flex-direction: column
    align-items: center
    span
      +font(16px,$f_bold)
  &-p
    p
      text-align: center
  &-row
    div
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 10px
  &-desc
    padding-bottom: 20px
    p
      margin-top: 10px

.cont
  &-ul
    li
      p
        margin: 10px 0
        span
          display: block
    .foot-row
      +w(170px)
      justify-content: space-between
      margin: 10px 0
      svg
        +w(40px)
        fill: $pink
  &-form
    padding-bottom: 100px
    input,textarea
      +w(100%)
      padding-bottom: 5px
      border: none
      border-bottom: 1px solid $headGray
      display: block
.recapcha
  display: none
.blog
  &-title
    h2
      font-family: $f_bold
    &-sub
      +font(14px,$f_bold,$pink)
      margin-bottom: 20px
  &-unit
    padding: 20px 25px
    border: 1px solid $headGray
    margin: 10px 0
  &-photo
    height: 143px
    overflow: hidden
    margin-bottom: 20px
    img
      min-height: 100%
      min-width: 100%
  &-desc
    height: 98px
    overflow: hidden
    margin-bottom: 20px
  &-button
    height: 36px
    +dfc
    background-color: #eef2f5
    border: 1px solid $headGray
    span
      text-transform: uppercase
      letter-spacing: 2px
    svg
      +w(20px)
      fill: $pink
  &-article
    &-cont
      padding: 10px 0 20px
    &-photo
      margin-bottom: 10px
    &-desc
      h6
        font-family: $f_bold
.size
  &-table
    padding: 10px 0
    overflow: auto
    &-cont
      +w(710px)
    &-title
      display: flex
      align-items: center
      margin-bottom: 5px
      h6
        +font(10px,$f_bold)
        &:first-child
          +w(140px)
        &:nth-child(2)
          +w(60px)
    table
      border-bottom: 1px solid $headGray
      padding: 5px 0
      tr
        display: block
        padding: 3px 0
      tr:nth-child(even)
        background-color: #faf9f4
      th
        font-family: $f_bold
      th,td
        +w(50px)
        text-align: left
      th:first-child,td:first-child
        +w(140px)
      th:nth-child(2),td:nth-child(2)
        +w(60px)
    &-head
      border-top: 1px solid $headGray
  &-desc strong,&-calc-desc h6,&-calc-desc strong
    font-family: $f_medium
    font-weight: 600
  &-calc
    &,&-cont
      padding: 10px 0
    h3
      font-family: $f_bold
    img
      margin-bottom: 10px
    &-input
      +dfc
      padding: 20px 10px
      background-color: #f3efe3
      margin-top: 10px
      input
        +w(130px)
        +font(18px,$f_bold)
        text-align: center
        border: none
        background-color: transparent
        border-bottom: 1px solid $headGray
        padding-bottom: 5px
        margin: 0 5px
    &-button
      +wh(300px,64px)
      +dfc
      background-color: $pink
      border: 1px solid $headGray
      margin-top: 10px
      span
        color: #fff
        text-transform: uppercase
        letter-spacing: 2px
      svg
        fill: #fff
  &-result
    +w(100%)
    border-top: 1px solid $headGray
    display: none
    align-items: center
    flex-direction: column
    padding-bottom: 20px
    &-show
      display: flex
    &>span
      font-family: $f_bold
      strong
        font-size: 24px
    &>span,&>button
      margin-top: 10px
    button
      +w(300px)

.cart
  &-offer
    display: none
  &-unit
    margin-top: 10px
    padding: 10px
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    background-color: #eef2f5
  &-del
    flex: 0 0 20px
    svg
      +w(20px)
      fill: $pink
  &-photo
    +wh(96px)
    flex: 0 0 96px
    overflow: hidden
    margin: 0 10px
    img
      min-width: 100%
      min-height: 100%
  &-desc
    height: 96px
    flex: 0 0 115px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    &-row
      display: flex
      align-items: center
      span:first-child
        flex: 0 0 60px
    h3
      font-family: $f_bold
    span
      font-size: 12px
      strong
        font-family: $f_bold
  &-price,&-number,&-cost
    flex: 0 0 100%
    text-align: center
    margin-top: 10px
  &-price
    margin-top: 20px
  &-number
    display: flex
    align-items: center
    justify-content: center
    input
      +w(68px)
      margin: 0 10px
      padding-bottom: 5px
      background-color: transparent
      border: none
      border-bottom: 1px solid $headGray
      font-family: $f_bold
      text-align: center
  &-button
    svg
      +w(30px)
    &-less
      svg
        transform: rotate(180deg)
  &-cost
    span
      font-family: $f_bold
  &-form
    padding-bottom: 20px
    &-cont
      h3
        +font(16px,$f_bold)
        margin-top: 20px
        margin-bottom: 20px
      textarea
        height: 21px
        margin-top: 30px
    &-label
      display: flex
      align-items: center
      margin-bottom: 20px

      input:checked~.cart-form-svg-cont
        svg:first-child
          display: none
        svg:nth-child(2)
          display: block
        svg:last-child
          fill: $pink
      input:checked~span
        font-family: $f_bold
    &-svg-cont
      +wh(94px,52px)
      +dfc
      flex: 0 0 94px
      margin-right: 20px
      background-color: #eef2f5
      svg
        +w(20px)
        &:nth-child(2)
          display: none
          fill: $pink
        &:last-child
          +w(40px)
          margin-left: 10px
          fill: #fff
    &-row
      display: flex
      align-items: center
      margin-bottom: 10px
      span:first-child
        flex: 0 0 200px
      strong
        font-family: $f_bold
    button
      +wh(100%,44px)
      +dfc
      background-color: $pink
      border: 1px solid $headGray
      margin-top: 20px
      span
        color: #fff
        letter-spacing: 2px
        text-transform: uppercase
      svg
        fill: #fff
        margin-right: 5px
.product
  padding-top: 10px
  h2
    font-size: 16px
  &-slider
    padding-top: 20px
    &-main
      +w(280px)
      margin: auto
      position: relative
      a
        position: absolute
        top: 50%
        img
          +w(40px)
        &:first-child
          left: -30px
          transform: rotate(180deg)
        &:last-child
          right: -30px
      &-slide
        display: none
        img
          +w(100%)
    &-slave
      display: none!important
  &-price
    +dfc
    padding: 10px 0
    span
      &:first-child
        font-size: 12px
      &:nth-child(2)
        +font(24px,$f_bold)
        margin: 0 20px
      &:last-child
        +font(18px,$f_medium,#e7c6b5)
        text-decoration: line-through
  &-size
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    padding: 10px 15px 20px
    background-color: #eef2f5
    margin-bottom: 5px
    &-label
      +w(175px)
      margin-left: 10px
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap
      label
        flex: 0 0 50px
        display: flex
        align-items: center
        svg
          fill: $pink
          &:nth-child(2)
            display: none
        input:checked~svg
          &:nth-child(3)
            display: none
          &:nth-child(2)
            display: block
    &>span
      +font(12px,$f_bold)
    a
      order: 2
      flex: 0 0 100%
      margin-top: 5px
      color: $pink
      text-align: center
  &-cart-button
    +wh(100%,44px)
    +dfc
    background-color: $pink
    border: 1px solid $headGray
    span
      color: #fff
      order: 1
      font-size: 12px
      letter-spacing: 2px
      text-transform: uppercase
    svg
      fill: #fff
      margin-right: 10px
  &-button-row
    display: flex
    justify-content: space-between
    margin-top: 5px
    &-buy,&-like
      +w(147.5px)
      background-color: #fc8895
      svg
        margin-right: 0
      span
        letter-spacing: 0
    &-like
      background-color: #eef2f5
      span
        color: $headGray
      svg
        fill: $pink
  &-desc
    &-label
      display: flex
      align-items: center
      justify-content: space-between
      border-bottom: 1px solid $headGray
      padding: 3px 0
      margin: 10px 0
      span
        font-family: $f_bold
      svg
        transform: rotate(90deg)
        transition: .35s ease
    &-first
      display: flex
      align-items: flex-start
      justify-content: space-between
      flex-wrap: wrap
      span
        flex: 0 0 49%
        font-size: 12px
        line-height: 16px
    &-second
      span
        display: block
        margin: 5px 0
    &-third
      display: flex
      align-items: flex-start
      svg
        +w(40px)
        fill: $pink
        margin-right: 10px
      p
        font-size: 12px
        letter-spacing: 1px
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
        label
          color: $pink
          font-family: $f_medium
    &-forth
      margin-bottom: 20px
      input,textarea
        +w(100%)
        background-color: transparent
        border: none
        border-bottom: 1px solid $headGray
        margin-top: 30px
        margin-bottom: 20px
      button
        +wh(100%,44px)
        +dfc
        background-color: $pink
        border: 1px solid $headGray
        span
          color: #fff
    &-first,&-second,&-third,&-forth
      max-height: 0
      overflow: hidden
      transition: .3s ease
  &-deliv
    +w(320px)
    display: none
    padding: 50px 10px 20px
    position: relative
    z-index: 100
    background-color: #fff
    .form-close
      top: 10px
    div
      display: flex
      align-items: flex-start
      border: 1px solid $headGray
      padding: 5px 15px
      margin-bottom: 5px
      span
        flex: 33%
      &:nth-child(2)
        span
          font-family: $f_bold
      &:last-child
        margin-top: 10px
        border: none
        padding: 0
      svg
        +w(40px)
        flex: 0 0 40px
        fill: $pink
        margin-right: 5px
      p
        font-family: $f_bold
        font-size: 12px
    &-bgc
      +wh(100%,100vh)
      display: none
      background: rgba(0,0,0,0.7)
      position: fixed
      z-index: 100
      top: 0
  &-buy-form
    +w(100%)
    padding: 50px 10px 20px
    display: none
    align-items: center
    flex-direction: column
    background-color: #fff
    position: relative
    top: 100px
    h3
      +font(18px,$f_bold)
      margin-bottom: 20px
    &>span
      +w(100%)
      margin-bottom: 20px
      strong
        font-family: $f_bold
    input
      +w(100%)
      display: block
      margin-top: 10px
      margin-bottom: 20px
      background-color: transparent
      border: none
      border-bottom: 1px solid $headGray
    button
      +wh(250px,44px)
      +dfc
      margin-top: 20px
      background-color: $pink
      border: 1px solid $headGray
      span
        color: #fff
        text-transform: uppercase
        letter-spacing: 2px

.choosen
  .new-slide
    +w(145px)
  .blog-title
    +w(100%)
.new-units,.news-slider
  .slick-arrow
    +wh(14px)
    display: block
    border-top: 2px solid $headGray
    border-right: 2px solid $headGray
  .slick-next
    transform: rotate(45deg)
    right: -8px
  .slick-prev
    transform: rotate(-135deg)
    left: -8px
  .slick-next,.slick-prev
    &:before
      display: none
.pink
  color: $pink
.foot
  padding-bottom: 30px
  button
    +font(14px,$f_reg)
  a,label
    margin-top: 20px
  span
    color: #fff
  &-row,&-copy
    display: flex
    flex-wrap: wrap
  &-block
    margin-right: 30px
  &-bold
    a,label
      +font(14px,$f_bold,#fff)
      display: block
  &-tel
    +font(16px,$f_bold,#fff)
    display: block
  &-pink
    color: $pink
    display: block
  &-copy
    margin-top: 45px
    a
      text-decoration: underline


#prod-buy:checked~.product-deliv-bgc
  display: block
  .product-buy-form
    display: flex
#prod-deliv:checked~.product-deliv-bgc
  &,.product-deliv
    display: block
#prod-first:checked~.product-desc-first,
#prod-second:checked~.product-desc-second,
#prod-third:checked~.product-desc-third,
#prod-forth:checked~.product-desc-forth
  max-height: 500px
  &-label
    svg
      transform: rotate(-90deg)
#head-search:checked~form
  display: flex
#mob-nav:checked~.header .head-second
  display: block
#about:checked~.about-cont
  max-height: 1000px
#about:checked~.about-label
  svg
    transform: rotate(-90deg)
#head-cat:checked~.header .head-cat
  display: block
#head-cat:checked~.header .mob-nav-but-cat
  color: $pink
#head-log:checked~.header .head-log
  display: block
#head-pass:checked~.header .head-pass
  display: block
#head-reg:checked~.header .head-reg
  display: block
#head-offer:checked~.header .head-offer
  display: block
#cart-offer:checked~.cart-offer
  display: block
#head-call:checked~.header .head-call
  display: block
#head-buy:checked~.header .head-buy
  display: block
#head-offer-ok:checked~.header .head-reg .section form .head-form-reg-accept label,
#cart-offer-ok:checked~.section .cart-cont form .cart-form-cont .head-form-reg-accept label
  svg:first-child
    display: none
  svg:nth-child(2)
    display: block
#head-form-offer:checked~.head-form-offer-cont,#cart-form-offer:checked~.head-form-offer-cont
  max-height: 5000px
#head-form-offer:checked~label,#cart-form-offer:checked~label
  svg
    transform: rotate(-90deg)
  span:nth-child(2)
    visibility: visible
    opacity: 1
  span:first-child
    visibility: hidden
    opacity: 0
#aside:checked~.filter
  display: block
#pagination
  &:checked~.sort-row .sort,&:checked~.sort-row .pagination
    display: flex