.section
  +w($tablet-large#{$unit})
.head,.foot
  background-size: 100%
.head
  &-login,&-phone,&-cons
    span
      color: $pink
  &-search
    &-form
      input
        +w(185px)
  &-cat
    &-basis
      flex-direction: column
    &-units
      display: flex
      flex-wrap: wrap
    &-unit
      margin-right: 10px
.main-slider
  &-cont
    .slick-next
      right: 15px
    .slick-prev
      left: 15px
  &-slide
    &-cont
      padding: 20px 40px
.tab-none
  display: inherit!important
.main-title
  margin: 20px 0
  h2
    font-size: 24px
  svg
    +w(26px)
.catalog
  &-title
    font-size: 24px
    &-page
      margin-top: 20px
  &-unit
    +wh(492px,190px)
    margin: 10px 0
    &-photo
      height: 148px
    &-name
      margin-top: 9px
      margin-left: 10px
      span
        font-size: 18px
  &-units
    padding: 10px 0

.stocks
  &-unit
    +wh(492px,244px)
  &-photo
    flex: 0 0 241px
  &-desc
    flex: 0 0 251px
    padding: 20px
  &-h3
    font-size: 76px
    line-height: 76px
  &-h6
    font-size: 20px
    line-height: 20px
  &-gray,&-yellow
    .stocks-h3
      font-size: 38px
      line-height: 38px
  &-button
    height: 44px
    span
      font-size: 12px
      letter-spacing: 2px

.new
  &-units
    +w(824px)
    padding: 20px 0
  &-slide
    +w(200px)
  &-photo
    height: 260px
  &-desc
    padding: 20px
    &-row
      span
        font-size: 16px

.about
  padding-top: 20px
  &:before,&:after
    +w(1004px)
  &-padding
    margin: 20px auto 0
  &-title
    h3
      span
        font-size: 18px
        display: inline-block
.news
  &-title
    h3
      font-size: 18px
  &-slider
    +w(905px)
    margin: auto
    .slick-next
      right: -30px
    .slick-prev
      left: -30px



aside
  +w(263px)
  margin-right: 28px
.sort
  flex: 0 0 270px
  &-row
    +w(660px)
    left: 291px
    top: 50px
.pagination
  display: flex
  flex: 0 0 280px
  &-bottom
    margin-right: 60px
    margin-bottom: 60px
.cat-cont
  .new-slide
    margin-right: 28px
    margin-bottom: 28px


.foot
  &-copy
    span
      margin-right: 130px