-
	let bases = [
		{
			image: 'Cat01.jpg',
			title: 'Маленькая грудь'
		},
		{
			image: 'Cat02.jpg',
			title: 'Мягкая грудь'
		},
		{
			image: 'Cat03.jpg',
			title: 'Грудь среднего размера'
		},
		{
			image: 'Cat04.jpg',
			title: 'Полная и пышная грудь'
		},
	],
	exl = [
		{
			image: 'Cat01.jpg',
			title: 'Маленькая грудь'
		},
		{
			image: 'Cat02.jpg',
			title: 'Мягкая грудь'
		},
		{
			image: 'Cat03.jpg',
			title: 'Грудь среднего размера'
		},
		{
			image: 'Cat04.jpg',
			title: 'Полная и пышная грудь'
		},
		{
			image: 'Cat05.jpg',
			title: 'Эротическое белье'
		},
		{
			image: 'Cat06.jpg',
			title: 'Купальники'
		},
	],
	exls = [
		{
		image: 'Cat01.jpg',
		title: 'Маленькая грудь'
		},
		{
		image: 'Cat02.jpg',
		title: 'Мягкая грудь'
		},
		{
		image: 'Cat03.jpg',
		title: 'Грудь среднего размера'
		},
		{
		image: 'Cat04.jpg',
		title: 'Полная и пышная грудь'
		},
	],
	stocks = [
		{
			title: '5%',
			subtitle: 'скидка на первый заказ',
			className: 'stocks-bezh',
			img: 'stocks01.jpg'
		},
		{
			title: 'Черная пятница',
			subtitle: 'Распродажа',
			className: 'stocks-gray',
			img: 'stocks02.jpg'
		},
		{
			title: 'Черная пятница',
			subtitle: 'Распродажа',
			className: 'stocks-yellow',
			img: 'stocks03.jpg'
		},
		{
			title: '5%',
			subtitle: 'скидка на первый заказ',
			className: 'stocks-pink',
			img: 'stocks04.jpg'
		}
	]
	articles = [
		{
			title: 'Добро пожаловать в крупнейший интернет-магазин женского белья!',
			desc: 'У нас вы найдете широкий ассортимент коллекций нижнего белья, купальников, пляжной и домашней одежды, которые представлены в сети магазинов «Эгоистка», а также приобрести премиальные коллекции от брендов «Дикая Орхидея» и «Бюстье».',
			img: 'about01.jpg'
		},
		{
			title: 'Наши преимущества',
			desc: 'У нас вы найдете широкий ассортимент коллекций нижнего белья, купальников, пляжной и домашней одежды, которые представлены в сети магазинов «Эгоистка», а также приобрести премиальные коллекции от брендов «Дикая Орхидея» и «Бюстье».',
			img: 'about02.jpg'
		},
		{
			title: 'Упаковка ваших покупок',
			desc: 'У нас вы найдете широкий ассортимент коллекций нижнего белья, купальников, пляжной и домашней одежды, которые представлены в сети магазинов «Эгоистка», а также приобрести премиальные коллекции от брендов «Дикая Орхидея» и «Бюстье».',
			img: 'about03.jpg'
		}

	]