extends template/main
append vars
  -
    page_title= 'Уход за грудью'
block content
  main
    .section
      .bread-crumps
        a(href='#') Главная
        div
        a(href='#') Уход за грудью
      .bread-crumps-mob
        div
        a(href='#') Назад
        div
        a(href='#') Блог
        div
        a(href='#') Уход за грудью
    .blog
      .section
        .blog-title
          h2 Уход за грудью. Профилактика потери упругости.
        .blog-article-cont
          .blog-article-photo
            +img('blog-article.jpg')
          .blog-article-desc
            p Легально о сиськах #футакойбыть.
            p Вопросы о груди в комментариях считаю жутким невежеством. Социальные сети давно стали публичным пространством, и подобные темы под снимками я воспринимаю как бестактность, озвученная, предположим, в переполненном кинозале или на родительском собрании. Отныне невежд, задающих о ней вопросы, я буду посылать... к этой публикации.
            br
            p Итак, грудь, как балкон, обвалится без должной поддержки. А необходимую фиксацию ей не обеспечивает 99 % женщин! Оттого, видя хорошие формы у 35-летней ДЕВУШКИ, над ней зажигают нимб из хирургических скальпелей.
            br
            h6 ЕЖЕДНЕВНАЯ ПОДДЕРЖКА
            br
            p В беременность Есением мне показалось, что обычные бюсты плохо поддерживают растущую грудь. И вот уже 7 лет у меня в привычке ПОСТОЯННОЕ использование спортивных топов средней и максимальной (для бега) фиксации.
            br
            p Классические бюстгальтеры надеваю исключительно под платья или прозрачный верх. Крайне редко! Как бы кропотливо я их ни подбирала, ни один грудь не держит настолько идеально, насколько хорошо сидящий спортивный топ.
            br
            p Кстати, в спортзале меня бросает в пот от девушек, тренирующихся без должной поддержки (особенно бегающих). Их грудь так агрессивно скачет, словно хочет убить свою «хозяйку» или как минимум врезать ей по лицу.
            br
          .blog-article-desc
            p С 2013 года спортивное бра с высокой и средней поддержкой – это своеобразный ангел-хранитель, заботливо несущий мою грудь в своих нежных ладошках :-D.
            br
            p В гардеробе есть топы всех возможных цветов и двух размеров (на постоянную носку и на неделю ПМС, когда грудь увеличивается).
            br
            p Полная фиксация в повседневной жизни стала для меня настолько нормальной и приятной, что последние года три я даже сплю в аккуратных хлопковых топах от CALVIN KLEIN.
            br
            h6 БЕРЕМЕННОСТЬ
            br
            p А. Я отдавала себе отчёт, что дыры по белку или, напротив, перебор, станут провокаторами растяжек, проблем с упругостью кожи и усугубят последующую потерю волос.