extends template/main
append vars
  -
    page_title= 'Грудь среднего размера'
block content
  .section
    .bread-crumps
      a(href='#') Главная
      div
      a(href='#') Эксклюзивное нижнее белье
      div
      a(href='#') Грудь среднего размера
    .bread-crumps-mob
      div
      a(href='#') Назад
      div
      a(href='#') Грудь среднего размера
  .section.catalog-page
    aside
      input(type='checkbox' style='display:none')#aside
      input(type='checkbox' style='display:none')#pagination
      .filter-hidden
        label(for='aside') Фильтр
        label(for='pagination')
          include ../img/menu.svg
      .sort-row
        .sort
          .sort-title
            span Сортировка:
          .sort-list
            include ../img/keyboard_arrow_right-24px.svg
            button.sort-negative.sort-activ По популярности
            button.sort-negative По возрастанию цены
            button.sort-negative По убыванию цены
        .pagination
          button
            include ../img/keyboard_arrow_right-24px.svg
            include ../img/keyboard_arrow_right-24px.svg
          button
            include ../img/keyboard_arrow_right-24px.svg
          button.pagination-activ
            span 1
          button
            span 2
          button
            span 3
          button
            span 4
          button
            span 5
          button
            span 6
          button
            include ../img/keyboard_arrow_right-24px.svg
          button
            include ../img/keyboard_arrow_right-24px.svg
            include ../img/keyboard_arrow_right-24px.svg
      .filter
        .filter-row
          label(for='aside').filter-close
            include ../img/close-24px.svg
          button.filter-clear
            include ../img/close-24px.svg
            span Очистить фильтр
        .filter-cont
          h6.filter-title Стоимость:
          div#slider-range.filter-price-slider-row
          p.filter-price-slider
            label(for="amount")
            input(type="text")#amount
            input(type="text")#amount-1
        .filter-cont
          .filter-label
            label
              input(type='checkbox' style='display:none')
              include ../img/check_box_outline_blank-24px.svg
              include ../img/check_box-24px.svg
              span Новинки
            .filter-show
              span
              span #[strong Показать:] 33
              button.button-hover
               span Показать
               span
          div.filter-label
            label
              input(type='checkbox' style='display:none')
              include ../img/check_box_outline_blank-24px.svg
              include ../img/check_box-24px.svg
              span Акции
            .filter-show
              span
              span #[strong Показать:] 33
              button.button-hover
                span Показать
                span
        .filter-cont
          h6.filter-title Размеры:
          -for(let i=0;i<=5;i++)
            .filter-label
              label
                input(type='checkbox' style='display:none')
                include ../img/check_box_outline_blank-24px.svg
                include ../img/check_box-24px.svg
                span 42
              .filter-show
                span
                span #[strong Показать:] 33
                button.button-hover
                  span Показать
                  span
        .filter-cont
          h6.filter-title Бренды:
          -for(let i=0;i<=7;i++)
            .filter-label
              label
                input(type='checkbox' style='display:none')
                include ../img/check_box_outline_blank-24px.svg
                include ../img/check_box-24px.svg
                span Antinea
              .filter-show
                span
                span #[strong Показать:] 33
                button.button-hover
                  span Показать
                  span
        .filter-cont
          h6.filter-title Цвет:
          -for(let i=0;i<=9;i++)
            .filter-label
              label
                input(type='checkbox' style='display:none')
                include ../img/check_box_outline_blank-24px.svg
                include ../img/check_box-24px.svg
                span ванильный
              .filter-show
                span
                span #[strong Показать:] 33
                button.button-hover
                  span Показать
                  span
        button.filter-button.button-hover
          span Показать
          span
        button.filter-clear.filter-clear-bottom
          include ../img/close-24px.svg
          span Очистить фильтр
      .stocks-catalog
        .stocks-photo
          +img('stocks01.jpg')
        .stocks-desc.stocks-bezh
          span.stocks-h3 5%
          span.stocks-h6 скидка на первый заказ
          button.stocks-button.button-hover
            span Подробнее
            span
          svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.017 512.017" style="enable-background:new 0 0 512.017 512.017;" xml:space="preserve")
            path(d="M464.665,2.973c-5.574-3.526-12.563-3.942-18.509-1.107l-57.708,27.456L330.107,1.841 c-5.197-2.458-11.225-2.438-16.429,0.032L255.97,29.328L197.635,1.847c-5.21-2.451-11.232-2.438-16.429,0.032L123.53,29.315 L65.86,1.885c-5.945-2.829-12.928-2.419-18.502,1.107c-5.568,3.514-8.947,9.645-8.947,16.23v473.594 c0,10.605,8.595,19.2,19.2,19.2h396.795c10.611,0,19.2-8.595,19.2-19.2V19.223C473.606,12.631,470.233,6.506,464.665,2.973z M435.206,473.617H76.811V49.616l38.476,18.304c5.216,2.483,11.277,2.483,16.493,0l57.714-27.456l58.329,27.488 c5.21,2.458,11.232,2.438,16.435-0.032l57.708-27.456l58.348,27.488c5.19,2.458,11.225,2.438,16.429-0.032l38.464-18.304V473.617z")
            path(d="M190.096,135.701c-33.171,0-60.159,26.988-60.159,60.159s26.982,60.159,60.159,60.159 c33.171,0,60.159-26.988,60.159-60.159S223.266,135.701,190.096,135.701z M190.096,217.62c-12,0-21.76-9.76-21.76-21.76 c0-12,9.76-21.76,21.76-21.76c11.993,0,21.76,9.76,21.76,21.76C211.855,207.86,202.095,217.62,190.096,217.62z")
            path(d="M321.928,267.54c-33.164,0-60.153,26.982-60.153,60.159c0,33.164,26.982,60.153,60.153,60.153 c33.177,0,60.166-26.988,60.159-60.153C382.087,294.528,355.105,267.54,321.928,267.54z M321.927,349.446 c-11.993,0-21.753-9.76-21.753-21.753c0-12,9.76-21.76,21.753-21.76c12,0,21.766,9.766,21.76,21.76 C343.687,339.686,333.927,349.446,321.927,349.446z")
            path(d="M366.202,151.541c-7.52-7.488-19.673-7.462-27.155,0.045L151.53,339.743c-7.488,7.514-7.469,19.667,0.045,27.155 c3.75,3.731,8.653,5.6,13.555,5.6c4.928,0,9.849-1.882,13.6-5.638l187.518-188.164 C373.735,171.182,373.709,159.023,366.202,151.541z")
    main.new
      .catalog-title.cat-title
        h3 Грудь среднего размера:
      .cat-cont
        -for(let i=1;i<=3;i++)
          .new-slide.new-slide-stock
            .cat-stock
              include ../img/new_releases-24px.svg
            .cat-sell
              svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.017 512.017" style="enable-background:new 0 0 512.017 512.017;" xml:space="preserve")
                path(d="M464.665,2.973c-5.574-3.526-12.563-3.942-18.509-1.107l-57.708,27.456L330.107,1.841 c-5.197-2.458-11.225-2.438-16.429,0.032L255.97,29.328L197.635,1.847c-5.21-2.451-11.232-2.438-16.429,0.032L123.53,29.315 L65.86,1.885c-5.945-2.829-12.928-2.419-18.502,1.107c-5.568,3.514-8.947,9.645-8.947,16.23v473.594 c0,10.605,8.595,19.2,19.2,19.2h396.795c10.611,0,19.2-8.595,19.2-19.2V19.223C473.606,12.631,470.233,6.506,464.665,2.973z M435.206,473.617H76.811V49.616l38.476,18.304c5.216,2.483,11.277,2.483,16.493,0l57.714-27.456l58.329,27.488 c5.21,2.458,11.232,2.438,16.435-0.032l57.708-27.456l58.348,27.488c5.19,2.458,11.225,2.438,16.429-0.032l38.464-18.304V473.617z ")
                path(d="M190.096,135.701c-33.171,0-60.159,26.988-60.159,60.159s26.982,60.159,60.159,60.159 c33.171,0,60.159-26.988,60.159-60.159S223.266,135.701,190.096,135.701z M190.096,217.62c-12,0-21.76-9.76-21.76-21.76 c0-12,9.76-21.76,21.76-21.76c11.993,0,21.76,9.76,21.76,21.76C211.855,207.86,202.095,217.62,190.096,217.62z")
                path(d="M321.928,267.54c-33.164,0-60.153,26.982-60.153,60.159c0,33.164,26.982,60.153,60.153,60.153 c33.177,0,60.166-26.988,60.159-60.153C382.087,294.528,355.105,267.54,321.928,267.54z M321.927,349.446 c-11.993,0-21.753-9.76-21.753-21.753c0-12,9.76-21.76,21.753-21.76c12,0,21.766,9.766,21.76,21.76 C343.687,339.686,333.927,349.446,321.927,349.446z")
                path(d="M366.202,151.541c-7.52-7.488-19.673-7.462-27.155,0.045L151.53,339.743c-7.488,7.514-7.469,19.667,0.045,27.155 c3.75,3.731,8.653,5.6,13.555,5.6c4.928,0,9.849-1.882,13.6-5.638l187.518-188.164 C373.735,171.182,373.709,159.023,366.202,151.541z")
            .new-unit
              .new-photo
                +img('new01.jpg')
              .new-desc
                .new-desc-row
                  span Бюстгальтер №1340 Sielei new мягкий
                  button
                    include ../img/favorite_border-24px.svg
                .new-desc-row
                  span 5300 ₽
                  button
                    include ../img/add_shopping_cart-24px.svg
          .new-slide.new-slide-sell
            .cat-stock
              include ../img/new_releases-24px.svg
            .cat-sell
              svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.017 512.017" style="enable-background:new 0 0 512.017 512.017;" xml:space="preserve")
                path(d="M464.665,2.973c-5.574-3.526-12.563-3.942-18.509-1.107l-57.708,27.456L330.107,1.841 c-5.197-2.458-11.225-2.438-16.429,0.032L255.97,29.328L197.635,1.847c-5.21-2.451-11.232-2.438-16.429,0.032L123.53,29.315 L65.86,1.885c-5.945-2.829-12.928-2.419-18.502,1.107c-5.568,3.514-8.947,9.645-8.947,16.23v473.594 c0,10.605,8.595,19.2,19.2,19.2h396.795c10.611,0,19.2-8.595,19.2-19.2V19.223C473.606,12.631,470.233,6.506,464.665,2.973z M435.206,473.617H76.811V49.616l38.476,18.304c5.216,2.483,11.277,2.483,16.493,0l57.714-27.456l58.329,27.488 c5.21,2.458,11.232,2.438,16.435-0.032l57.708-27.456l58.348,27.488c5.19,2.458,11.225,2.438,16.429-0.032l38.464-18.304V473.617z ")
                path(d="M190.096,135.701c-33.171,0-60.159,26.988-60.159,60.159s26.982,60.159,60.159,60.159 c33.171,0,60.159-26.988,60.159-60.159S223.266,135.701,190.096,135.701z M190.096,217.62c-12,0-21.76-9.76-21.76-21.76 c0-12,9.76-21.76,21.76-21.76c11.993,0,21.76,9.76,21.76,21.76C211.855,207.86,202.095,217.62,190.096,217.62z")
                path(d="M321.928,267.54c-33.164,0-60.153,26.982-60.153,60.159c0,33.164,26.982,60.153,60.153,60.153 c33.177,0,60.166-26.988,60.159-60.153C382.087,294.528,355.105,267.54,321.928,267.54z M321.927,349.446 c-11.993,0-21.753-9.76-21.753-21.753c0-12,9.76-21.76,21.753-21.76c12,0,21.766,9.766,21.76,21.76 C343.687,339.686,333.927,349.446,321.927,349.446z")
                path(d="M366.202,151.541c-7.52-7.488-19.673-7.462-27.155,0.045L151.53,339.743c-7.488,7.514-7.469,19.667,0.045,27.155 c3.75,3.731,8.653,5.6,13.555,5.6c4.928,0,9.849-1.882,13.6-5.638l187.518-188.164 C373.735,171.182,373.709,159.023,366.202,151.541z")
            .new-unit
              .new-photo
                +img('new01.jpg')
              .new-desc
                .new-desc-row
                  span Бюстгальтер №1340 Sielei new мягкий
                  button
                    include ../img/favorite_border-24px.svg
                .new-desc-row
                  span 5300 ₽
                  button
                    include ../img/add_shopping_cart-24px.svg
          .new-slide.new-slide-sell-stock
            .cat-sell-stock
              .cat-stock
                include ../img/new_releases-24px.svg
              .cat-sell
                svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.017 512.017" style="enable-background:new 0 0 512.017 512.017;" xml:space="preserve")
                  path(d="M464.665,2.973c-5.574-3.526-12.563-3.942-18.509-1.107l-57.708,27.456L330.107,1.841 c-5.197-2.458-11.225-2.438-16.429,0.032L255.97,29.328L197.635,1.847c-5.21-2.451-11.232-2.438-16.429,0.032L123.53,29.315 L65.86,1.885c-5.945-2.829-12.928-2.419-18.502,1.107c-5.568,3.514-8.947,9.645-8.947,16.23v473.594 c0,10.605,8.595,19.2,19.2,19.2h396.795c10.611,0,19.2-8.595,19.2-19.2V19.223C473.606,12.631,470.233,6.506,464.665,2.973z M435.206,473.617H76.811V49.616l38.476,18.304c5.216,2.483,11.277,2.483,16.493,0l57.714-27.456l58.329,27.488 c5.21,2.458,11.232,2.438,16.435-0.032l57.708-27.456l58.348,27.488c5.19,2.458,11.225,2.438,16.429-0.032l38.464-18.304V473.617z ")
                  path(d="M190.096,135.701c-33.171,0-60.159,26.988-60.159,60.159s26.982,60.159,60.159,60.159 c33.171,0,60.159-26.988,60.159-60.159S223.266,135.701,190.096,135.701z M190.096,217.62c-12,0-21.76-9.76-21.76-21.76 c0-12,9.76-21.76,21.76-21.76c11.993,0,21.76,9.76,21.76,21.76C211.855,207.86,202.095,217.62,190.096,217.62z")
                  path(d="M321.928,267.54c-33.164,0-60.153,26.982-60.153,60.159c0,33.164,26.982,60.153,60.153,60.153 c33.177,0,60.166-26.988,60.159-60.153C382.087,294.528,355.105,267.54,321.928,267.54z M321.927,349.446 c-11.993,0-21.753-9.76-21.753-21.753c0-12,9.76-21.76,21.753-21.76c12,0,21.766,9.766,21.76,21.76 C343.687,339.686,333.927,349.446,321.927,349.446z")
                  path(d="M366.202,151.541c-7.52-7.488-19.673-7.462-27.155,0.045L151.53,339.743c-7.488,7.514-7.469,19.667,0.045,27.155 c3.75,3.731,8.653,5.6,13.555,5.6c4.928,0,9.849-1.882,13.6-5.638l187.518-188.164 C373.735,171.182,373.709,159.023,366.202,151.541z")
            .new-unit
              .new-photo
                +img('new01.jpg')
              .new-desc
                .new-desc-row
                  span Бюстгальтер №1340 Sielei new мягкий
                  button
                    include ../img/favorite_border-24px.svg
                .new-desc-row
                  span 5300 ₽
                  button
                    include ../img/add_shopping_cart-24px.svg
          .new-slide
            .cat-sell-stock
              .cat-stock
                include ../img/new_releases-24px.svg
              .cat-sell
                svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.017 512.017" style="enable-background:new 0 0 512.017 512.017;" xml:space="preserve")
                  path(d="M464.665,2.973c-5.574-3.526-12.563-3.942-18.509-1.107l-57.708,27.456L330.107,1.841 c-5.197-2.458-11.225-2.438-16.429,0.032L255.97,29.328L197.635,1.847c-5.21-2.451-11.232-2.438-16.429,0.032L123.53,29.315 L65.86,1.885c-5.945-2.829-12.928-2.419-18.502,1.107c-5.568,3.514-8.947,9.645-8.947,16.23v473.594 c0,10.605,8.595,19.2,19.2,19.2h396.795c10.611,0,19.2-8.595,19.2-19.2V19.223C473.606,12.631,470.233,6.506,464.665,2.973z M435.206,473.617H76.811V49.616l38.476,18.304c5.216,2.483,11.277,2.483,16.493,0l57.714-27.456l58.329,27.488 c5.21,2.458,11.232,2.438,16.435-0.032l57.708-27.456l58.348,27.488c5.19,2.458,11.225,2.438,16.429-0.032l38.464-18.304V473.617z ")
                  path(d="M190.096,135.701c-33.171,0-60.159,26.988-60.159,60.159s26.982,60.159,60.159,60.159 c33.171,0,60.159-26.988,60.159-60.159S223.266,135.701,190.096,135.701z M190.096,217.62c-12,0-21.76-9.76-21.76-21.76 c0-12,9.76-21.76,21.76-21.76c11.993,0,21.76,9.76,21.76,21.76C211.855,207.86,202.095,217.62,190.096,217.62z")
                  path(d="M321.928,267.54c-33.164,0-60.153,26.982-60.153,60.159c0,33.164,26.982,60.153,60.153,60.153 c33.177,0,60.166-26.988,60.159-60.153C382.087,294.528,355.105,267.54,321.928,267.54z M321.927,349.446 c-11.993,0-21.753-9.76-21.753-21.753c0-12,9.76-21.76,21.753-21.76c12,0,21.766,9.766,21.76,21.76 C343.687,339.686,333.927,349.446,321.927,349.446z")
                  path(d="M366.202,151.541c-7.52-7.488-19.673-7.462-27.155,0.045L151.53,339.743c-7.488,7.514-7.469,19.667,0.045,27.155 c3.75,3.731,8.653,5.6,13.555,5.6c4.928,0,9.849-1.882,13.6-5.638l187.518-188.164 C373.735,171.182,373.709,159.023,366.202,151.541z")
            .new-unit
              .new-photo
                +img('new01.jpg')
              .new-desc
                .new-desc-row
                  span Бюстгальтер №1340 Sielei new мягкий
                  button
                    include ../img/favorite_border-24px.svg
                .new-desc-row
                  span 5300 ₽
                  button
                    include ../img/add_shopping_cart-24px.svg
      .pagination.pagination-bottom
        button
          include ../img/keyboard_arrow_right-24px.svg
          include ../img/keyboard_arrow_right-24px.svg
        button
          include ../img/keyboard_arrow_right-24px.svg
        button.pagination-activ
          span 1
        button
          span 2
        button
          span 3
        button
          span 4
        button
          span 5
        button
          span 6
        button
          include ../img/keyboard_arrow_right-24px.svg
        button
          include ../img/keyboard_arrow_right-24px.svg
          include ../img/keyboard_arrow_right-24px.svg




