extends template/main
append vars
  -
    page_title= 'Главная страница'
block content
  main
    .main-slider
      .section
        .main-slider-slide
          .main-slider-slide-cont
            div
              p #[span.pink 80% женщин] носят неправильный размер бюстгальтера.
              p.pink А Вы?
              span Разрешите помочь вам найти наиболее подходящий размер не выходя из дома.
              button
                span Перейти в каталог
            div
              +img('vtz-graph-80.png')
          .main-slider-slide-bgc
    .main-title
      div
        svg(viewBox="0 0 60 52" xmlns="http://www.w3.org/2000/svg")
          g(id="Page-1" fill-rule="evenodd")
            g(id="022---Plunge-Bra" fill-rule="nonzero" transform="translate(-1 -1)")
              path(id="Shape" d="m55.029 20.534c.134-2.734.143-11.534-4.624-18.274-.4562779-.64778328-1.1526294-1.08623123-1.933991-1.21771035-.7813617-.13147911-1.5828569.05492732-2.226009.51771035-.7818489.56698352-1.2447555 1.47420602-1.245 2.44v18.2c-.513.251-1.032.513-1.577.8-7.417 3.867-9.069 15.5-9.364 18.317-.9698415.4111922-2.0063646.6426225-3.059.683-1.0525107-.0397431-2.0890291-.2704946-3.059-.681-.295-2.819-1.947-14.45-9.365-18.319-.544-.284-1.064-.546-1.576-.8v-18.2c-.0001629-.96660045-.4634578-1.87459881-1.246-2.442-.6431521-.46278303-1.4446473-.64918946-2.226009-.51771035-.7813616.13147912-1.4777131.56992707-1.933991 1.21771035-4.766 6.742-4.757 15.542-4.623 18.276-3.82874243 3.2381691-6.01719106 8.0127329-5.971 13.027-.09550316 3.0357977.61566201 6.0426358 2.061 8.714.08196705 3.3270064.40245596 6.6438494.959 9.925.09505372.4656663.50473138.800097.98.8.06719272.0005626.13424924-.0061431.2-.02 2.90201529-.5640366 5.8449963-.8917777 8.8-.98 5.982 0 8.068-.9 9.908-1.694 1.623-.701 3.024-1.306 7.092-1.306s5.469.6 7.092 1.306c1.84.794 3.926 1.694 9.908 1.694 2.9549824.0885245 5.897939.4162629 8.8.98.2599175.0530985.5302825.0007425.751589-.1455449.2213065-.1462873.3754164-.3745164.428411-.6344551.5563062-3.2795018.8767943-6.5946653.959-9.92 1.4462003-2.6728414 2.1573927-5.6815199 2.061-8.719.0461911-5.0142671-2.1422576-9.7888309-5.971-13.027zm-7.615-17.352c.2065584-.15126999.465655-.21225512.718-.169.2585429.04229554.4893876.18634837.641.4 4.2 5.932 4.377 13.689 4.275 16.616-.6751784.0225674-1.3487415.0799772-2.018.172.053-3.424-.311-10.6-3.846-15.626-.3191862-.45101791-.2167065-1.07480731.23-1.4zm-.414 5.191c1.981 4.566 2.077 10.046 2.019 12.26-.6854172.1848069-1.3595475.4091831-2.019.672zm-2.652 16.4c.709-.369 1.365-.7 2.005-1.006.032-.013.06-.029.091-.045 2.2400839-1.1313561 4.71443-1.7211711 7.224-1.722.4238985.3425796.8247666.7127145 1.2 1.108-3.233.331-5.364 1.426-8.179 2.893-6.325 3.3-8.457 12.256-9.134 16.641-.674-.438-1.189-.823-1.507-1.075.269-2.479 1.816-13.411 8.3-16.792zm-18.394 16.797c-.317.253-.832.639-1.506 1.079-.677-4.384-2.816-13.346-9.2-16.681-2.755-1.436-4.877-2.527-8.112-2.857.37387393-.396158.77340318-.7672926 1.196-1.111 2.5097339.0004303 4.9842462.5906275 7.224 1.723.031.015.059.031.091.043.64.3 1.3.638 2.005 1.007 6.485 3.384 8.032 14.32 8.302 16.797zm-12.983-20.94c-.058-2.215.039-7.695 2.029-12.264v12.939c-.6627946-.2638187-1.3402527-.4891929-2.029-.675zm.254-17.211c.1512664-.2160316.38292-.36230126.643-.406.2518632-.04256408.5102608.01798097.717.168.4457038.32611814.5468224.94975725.227 1.4-3.539 5.029-3.9 12.2-3.852 15.62-.6659857-.091148-1.33619197-.1482223-2.008-.171-.102-2.924.078-10.681 4.273-16.611zm-7.625 21.596c3.648.1 5.6 1.1 8.791 2.762 6 3.129 7.766 12.772 8.2 15.961-2.6737644 1.4398455-5.6545509 2.2156525-8.691 2.262-6.927 0-10.9-4.534-10.9-12.439-.02401481-3.0469945.88311205-6.0286507 2.6-8.546zm42.4 24.985c-5.569 0-7.372-.778-9.115-1.531-1.674-.722-3.404-1.469-7.885-1.469s-6.211.747-7.885 1.469c-1.743.753-3.546 1.531-9.115 1.531-2.7490041.0622684-5.48882306.3411321-8.194.834-.3-1.815-.487-3.925-.61-5.889 2.40635662 2.0897163 5.5194686 3.1823814 8.704 3.055 3.6003645-.0533891 7.1273277-1.0261783 10.246-2.826h.007c1.056243-.5881076 2.0640817-1.2592199 3.014-2.007 1.2153804.5116147 2.5149027.7940311 3.833.833 1.3186885-.0401148 2.6185706-.3238919 3.834-.837.9499183.7477801 1.957757 1.4188924 3.014 2.007h.007c3.118 1.8010563 6.6446212 2.775223 10.245 2.83 3.1831687.1263516 6.2946637-.9662481 8.7-3.055-.123 1.964-.313 4.074-.61 5.889-2.7038604-.4926589-5.4423336-.7715218-8.19-.834zm.1-4c-3.0338286-.0500995-6.0112815-.8278999-8.682-2.268.431-3.193 2.208-12.831 8.26-15.99 3.133-1.634 5.08-2.631 8.725-2.727 1.7158263 2.5176956 2.6218982 5.4993246 2.597 8.546 0 7.905-3.973 12.439-10.9 12.439z")
        h2 Каталог
    .catalog
      .section.catalog-cont
        .catalog-title
          h3 Базовое нижнее белье:
        .catalog-units
          a(href='#').catalog-unit
            .catalog-unit-photo
              +img('Cat01.jpg')
            .catalog-unit-name
              span Маленькая грудь
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
          a(href='#').catalog-unit
            .catalog-unit-photo
              +img('Cat02.jpg')
            .catalog-unit-name
              span Мягкая грудь
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
          a(href='#').catalog-unit
            .catalog-unit-photo
              +img('Cat03.jpg')
            .catalog-unit-name
              span Грудь среднего размера
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
          a(href='#').catalog-unit
            .catalog-unit-photo
              +img('Cat04.jpg')
            .catalog-unit-name
              span Полная и пышная грудь
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
        .catalog-title-sub
          h3 Эксклюзивное нижнее белье:
        .catalog-units
          a(href='#').catalog-unit
            .catalog-unit-photo
              +img('Cat01.jpg')
            .catalog-unit-name
              span Маленькая грудь
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
          a(href='#').catalog-unit
            .catalog-unit-photo
              +img('Cat02.jpg')
            .catalog-unit-name
              span Мягкая грудь
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
          a(href='#').catalog-unit
            .catalog-unit-photo
              +img('Cat03.jpg')
            .catalog-unit-name
              span Грудь среднего размера
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
          a(href='#').catalog-unit
            .catalog-unit-photo
              +img('Cat04.jpg')
            .catalog-unit-name
              span Полная и пышная грудь
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
          a(href='#').catalog-unit
            .catalog-unit-photo
              +img('Cat05.jpg')
            .catalog-unit-name
              span Эротическое белье
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
          a(href='#').catalog-unit
            .catalog-unit-photo
              +img('Cat06.jpg')
            .catalog-unit-name
              span Купальники
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
    .stocks
      .section.catalog-cont
        .catalog-title
          svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.017 512.017" style="enable-background:new 0 0 512.017 512.017;" xml:space="preserve")
            path(d="M464.665,2.973c-5.574-3.526-12.563-3.942-18.509-1.107l-57.708,27.456L330.107,1.841 c-5.197-2.458-11.225-2.438-16.429,0.032L255.97,29.328L197.635,1.847c-5.21-2.451-11.232-2.438-16.429,0.032L123.53,29.315 L65.86,1.885c-5.945-2.829-12.928-2.419-18.502,1.107c-5.568,3.514-8.947,9.645-8.947,16.23v473.594 c0,10.605,8.595,19.2,19.2,19.2h396.795c10.611,0,19.2-8.595,19.2-19.2V19.223C473.606,12.631,470.233,6.506,464.665,2.973z M435.206,473.617H76.811V49.616l38.476,18.304c5.216,2.483,11.277,2.483,16.493,0l57.714-27.456l58.329,27.488 c5.21,2.458,11.232,2.438,16.435-0.032l57.708-27.456l58.348,27.488c5.19,2.458,11.225,2.438,16.429-0.032l38.464-18.304V473.617z")
            path(d="M190.096,135.701c-33.171,0-60.159,26.988-60.159,60.159s26.982,60.159,60.159,60.159 c33.171,0,60.159-26.988,60.159-60.159S223.266,135.701,190.096,135.701z M190.096,217.62c-12,0-21.76-9.76-21.76-21.76 c0-12,9.76-21.76,21.76-21.76c11.993,0,21.76,9.76,21.76,21.76C211.855,207.86,202.095,217.62,190.096,217.62z")
            path(d="M321.928,267.54c-33.164,0-60.153,26.982-60.153,60.159c0,33.164,26.982,60.153,60.153,60.153 c33.177,0,60.166-26.988,60.159-60.153C382.087,294.528,355.105,267.54,321.928,267.54z M321.927,349.446 c-11.993,0-21.753-9.76-21.753-21.753c0-12,9.76-21.76,21.753-21.76c12,0,21.766,9.766,21.76,21.76 C343.687,339.686,333.927,349.446,321.927,349.446z")
            path(d="M366.202,151.541c-7.52-7.488-19.673-7.462-27.155,0.045L151.53,339.743c-7.488,7.514-7.469,19.667,0.045,27.155 c3.75,3.731,8.653,5.6,13.555,5.6c4.928,0,9.849-1.882,13.6-5.638l187.518-188.164 C373.735,171.182,373.709,159.023,366.202,151.541z")
          h3 Акции и предложения:
        .catalog-units
          .stocks-unit
            .stocks-photo
              +img('stocks01.jpg')
            .stocks-desc.stocks-bezh
              span.stocks-h3 5%
              span.stocks-h6 Скидка #[br]на первый заказ
              button.stocks-button.stocks-button-white
                span Подробнее
              svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.017 512.017" style="enable-background:new 0 0 512.017 512.017;" xml:space="preserve")
                path(d="M464.665,2.973c-5.574-3.526-12.563-3.942-18.509-1.107l-57.708,27.456L330.107,1.841 c-5.197-2.458-11.225-2.438-16.429,0.032L255.97,29.328L197.635,1.847c-5.21-2.451-11.232-2.438-16.429,0.032L123.53,29.315 L65.86,1.885c-5.945-2.829-12.928-2.419-18.502,1.107c-5.568,3.514-8.947,9.645-8.947,16.23v473.594 c0,10.605,8.595,19.2,19.2,19.2h396.795c10.611,0,19.2-8.595,19.2-19.2V19.223C473.606,12.631,470.233,6.506,464.665,2.973z M435.206,473.617H76.811V49.616l38.476,18.304c5.216,2.483,11.277,2.483,16.493,0l57.714-27.456l58.329,27.488 c5.21,2.458,11.232,2.438,16.435-0.032l57.708-27.456l58.348,27.488c5.19,2.458,11.225,2.438,16.429-0.032l38.464-18.304V473.617z")
                path(d="M190.096,135.701c-33.171,0-60.159,26.988-60.159,60.159s26.982,60.159,60.159,60.159 c33.171,0,60.159-26.988,60.159-60.159S223.266,135.701,190.096,135.701z M190.096,217.62c-12,0-21.76-9.76-21.76-21.76 c0-12,9.76-21.76,21.76-21.76c11.993,0,21.76,9.76,21.76,21.76C211.855,207.86,202.095,217.62,190.096,217.62z")
                path(d="M321.928,267.54c-33.164,0-60.153,26.982-60.153,60.159c0,33.164,26.982,60.153,60.153,60.153 c33.177,0,60.166-26.988,60.159-60.153C382.087,294.528,355.105,267.54,321.928,267.54z M321.927,349.446 c-11.993,0-21.753-9.76-21.753-21.753c0-12,9.76-21.76,21.753-21.76c12,0,21.766,9.766,21.76,21.76 C343.687,339.686,333.927,349.446,321.927,349.446z")
                path(d="M366.202,151.541c-7.52-7.488-19.673-7.462-27.155,0.045L151.53,339.743c-7.488,7.514-7.469,19.667,0.045,27.155 c3.75,3.731,8.653,5.6,13.555,5.6c4.928,0,9.849-1.882,13.6-5.638l187.518-188.164 C373.735,171.182,373.709,159.023,366.202,151.541z")
          .stocks-unit
            .stocks-photo
              +img('stocks02.jpg')
            .stocks-desc.stocks-gray
              span.stocks-h4 Черная пятница
              span.stocks-h6 Распродажа
              button.stocks-button
                span Подробнее
              svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.017 512.017" style="enable-background:new 0 0 512.017 512.017;" xml:space="preserve")
                path(d="M464.665,2.973c-5.574-3.526-12.563-3.942-18.509-1.107l-57.708,27.456L330.107,1.841 c-5.197-2.458-11.225-2.438-16.429,0.032L255.97,29.328L197.635,1.847c-5.21-2.451-11.232-2.438-16.429,0.032L123.53,29.315 L65.86,1.885c-5.945-2.829-12.928-2.419-18.502,1.107c-5.568,3.514-8.947,9.645-8.947,16.23v473.594 c0,10.605,8.595,19.2,19.2,19.2h396.795c10.611,0,19.2-8.595,19.2-19.2V19.223C473.606,12.631,470.233,6.506,464.665,2.973z M435.206,473.617H76.811V49.616l38.476,18.304c5.216,2.483,11.277,2.483,16.493,0l57.714-27.456l58.329,27.488 c5.21,2.458,11.232,2.438,16.435-0.032l57.708-27.456l58.348,27.488c5.19,2.458,11.225,2.438,16.429-0.032l38.464-18.304V473.617z")
                path(d="M190.096,135.701c-33.171,0-60.159,26.988-60.159,60.159s26.982,60.159,60.159,60.159 c33.171,0,60.159-26.988,60.159-60.159S223.266,135.701,190.096,135.701z M190.096,217.62c-12,0-21.76-9.76-21.76-21.76 c0-12,9.76-21.76,21.76-21.76c11.993,0,21.76,9.76,21.76,21.76C211.855,207.86,202.095,217.62,190.096,217.62z")
                path(d="M321.928,267.54c-33.164,0-60.153,26.982-60.153,60.159c0,33.164,26.982,60.153,60.153,60.153 c33.177,0,60.166-26.988,60.159-60.153C382.087,294.528,355.105,267.54,321.928,267.54z M321.927,349.446 c-11.993,0-21.753-9.76-21.753-21.753c0-12,9.76-21.76,21.753-21.76c12,0,21.766,9.766,21.76,21.76 C343.687,339.686,333.927,349.446,321.927,349.446z")
                path(d="M366.202,151.541c-7.52-7.488-19.673-7.462-27.155,0.045L151.53,339.743c-7.488,7.514-7.469,19.667,0.045,27.155 c3.75,3.731,8.653,5.6,13.555,5.6c4.928,0,9.849-1.882,13.6-5.638l187.518-188.164 C373.735,171.182,373.709,159.023,366.202,151.541z")
          .stocks-unit
            .stocks-photo
              +img('stocks03.jpg')
            .stocks-desc.stocks-yellow
              span.stocks-h4 Черная пятница
              span.stocks-h6 Распродажа
              button.stocks-button
                span Подробнее
              svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.017 512.017" style="enable-background:new 0 0 512.017 512.017;" xml:space="preserve")
                path(d="M464.665,2.973c-5.574-3.526-12.563-3.942-18.509-1.107l-57.708,27.456L330.107,1.841 c-5.197-2.458-11.225-2.438-16.429,0.032L255.97,29.328L197.635,1.847c-5.21-2.451-11.232-2.438-16.429,0.032L123.53,29.315 L65.86,1.885c-5.945-2.829-12.928-2.419-18.502,1.107c-5.568,3.514-8.947,9.645-8.947,16.23v473.594 c0,10.605,8.595,19.2,19.2,19.2h396.795c10.611,0,19.2-8.595,19.2-19.2V19.223C473.606,12.631,470.233,6.506,464.665,2.973z M435.206,473.617H76.811V49.616l38.476,18.304c5.216,2.483,11.277,2.483,16.493,0l57.714-27.456l58.329,27.488 c5.21,2.458,11.232,2.438,16.435-0.032l57.708-27.456l58.348,27.488c5.19,2.458,11.225,2.438,16.429-0.032l38.464-18.304V473.617z")
                path(d="M190.096,135.701c-33.171,0-60.159,26.988-60.159,60.159s26.982,60.159,60.159,60.159 c33.171,0,60.159-26.988,60.159-60.159S223.266,135.701,190.096,135.701z M190.096,217.62c-12,0-21.76-9.76-21.76-21.76 c0-12,9.76-21.76,21.76-21.76c11.993,0,21.76,9.76,21.76,21.76C211.855,207.86,202.095,217.62,190.096,217.62z")
                path(d="M321.928,267.54c-33.164,0-60.153,26.982-60.153,60.159c0,33.164,26.982,60.153,60.153,60.153 c33.177,0,60.166-26.988,60.159-60.153C382.087,294.528,355.105,267.54,321.928,267.54z M321.927,349.446 c-11.993,0-21.753-9.76-21.753-21.753c0-12,9.76-21.76,21.753-21.76c12,0,21.766,9.766,21.76,21.76 C343.687,339.686,333.927,349.446,321.927,349.446z")
                path(d="M366.202,151.541c-7.52-7.488-19.673-7.462-27.155,0.045L151.53,339.743c-7.488,7.514-7.469,19.667,0.045,27.155 c3.75,3.731,8.653,5.6,13.555,5.6c4.928,0,9.849-1.882,13.6-5.638l187.518-188.164 C373.735,171.182,373.709,159.023,366.202,151.541z")
          .stocks-unit
            .stocks-photo
              +img('stocks04.jpg')
            .stocks-desc.stocks-pink
              span.stocks-h3 5%
              span.stocks-h6 Скидка #[br]на первый заказ
              button.stocks-button.stocks-button-white
                span Подробнее
              svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.017 512.017" style="enable-background:new 0 0 512.017 512.017;" xml:space="preserve")
                path(d="M464.665,2.973c-5.574-3.526-12.563-3.942-18.509-1.107l-57.708,27.456L330.107,1.841 c-5.197-2.458-11.225-2.438-16.429,0.032L255.97,29.328L197.635,1.847c-5.21-2.451-11.232-2.438-16.429,0.032L123.53,29.315 L65.86,1.885c-5.945-2.829-12.928-2.419-18.502,1.107c-5.568,3.514-8.947,9.645-8.947,16.23v473.594 c0,10.605,8.595,19.2,19.2,19.2h396.795c10.611,0,19.2-8.595,19.2-19.2V19.223C473.606,12.631,470.233,6.506,464.665,2.973z M435.206,473.617H76.811V49.616l38.476,18.304c5.216,2.483,11.277,2.483,16.493,0l57.714-27.456l58.329,27.488 c5.21,2.458,11.232,2.438,16.435-0.032l57.708-27.456l58.348,27.488c5.19,2.458,11.225,2.438,16.429-0.032l38.464-18.304V473.617z")
                path(d="M190.096,135.701c-33.171,0-60.159,26.988-60.159,60.159s26.982,60.159,60.159,60.159 c33.171,0,60.159-26.988,60.159-60.159S223.266,135.701,190.096,135.701z M190.096,217.62c-12,0-21.76-9.76-21.76-21.76 c0-12,9.76-21.76,21.76-21.76c11.993,0,21.76,9.76,21.76,21.76C211.855,207.86,202.095,217.62,190.096,217.62z")
                path(d="M321.928,267.54c-33.164,0-60.153,26.982-60.153,60.159c0,33.164,26.982,60.153,60.153,60.153 c33.177,0,60.166-26.988,60.159-60.153C382.087,294.528,355.105,267.54,321.928,267.54z M321.927,349.446 c-11.993,0-21.753-9.76-21.753-21.753c0-12,9.76-21.76,21.753-21.76c12,0,21.766,9.766,21.76,21.76 C343.687,339.686,333.927,349.446,321.927,349.446z")
                path(d="M366.202,151.541c-7.52-7.488-19.673-7.462-27.155,0.045L151.53,339.743c-7.488,7.514-7.469,19.667,0.045,27.155 c3.75,3.731,8.653,5.6,13.555,5.6c4.928,0,9.849-1.882,13.6-5.638l187.518-188.164 C373.735,171.182,373.709,159.023,366.202,151.541z")
    .new
      .section.new-cont
        .catalog-title
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            path(d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-4.51 2.11l.26 2.79-2.74.62-1.43 2.41L12 18.82l-2.58 1.11-1.43-2.41-2.74-.62.26-2.8L3.66 12l1.85-2.12-.26-2.78 2.74-.61 1.43-2.41L12 5.18l2.58-1.11 1.43 2.41 2.74.62-.26 2.79L20.34 12l-1.85 2.11zM11 15h2v2h-2zm0-8h2v6h-2z")
          h3 Новинки:
        .new-units
          .new-slide
            .new-unit
              .new-photo
                +img('new01.jpg')
              .new-desc
                .new-desc-row
                  span Бюстгальтер №1340 Sielei new мягкий
                  button
                    svg(fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                      path(d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z")
                .new-desc-row
                  span 5300 ₽
                  button
                    svg(fill="#ca3970" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                      path(d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-8.9-5h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4l-3.87 7H8.53L4.27 2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2z")
          .new-slide
            .new-unit
              .new-photo
                +img('new02.jpg')
              .new-desc
                .new-desc-row
                  span Бюстгальтер №1340 Sielei new мягкий
                  button
                    svg(fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                      path(d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z")
                .new-desc-row
                  span 5300 ₽
                  button
                    svg(fill="#ca3970" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                      path(d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-8.9-5h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4l-3.87 7H8.53L4.27 2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2z")
          .new-slide
            .new-unit
              .new-photo
                +img('new03.jpg')
              .new-desc
                .new-desc-row
                  span Бюстгальтер №1340 Sielei new мягкий
                  button
                    svg(fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                      path(d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z")
                .new-desc-row
                  span 5300 ₽
                  button
                    svg(fill="#ca3970" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                      path(d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-8.9-5h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4l-3.87 7H8.53L4.27 2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2z")
          .new-slide
            .new-unit
              .new-photo
                +img('new04.jpg')
              .new-desc
                .new-desc-row
                  span Бюстгальтер №1340 Sielei new мягкий
                  button
                    svg(fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                      path(d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z")
                .new-desc-row
                  span 5300 ₽
                  button
                    svg(fill="#ca3970" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                      path(d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-8.9-5h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4l-3.87 7H8.53L4.27 2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2z")
          .new-slide
            .new-unit
              .new-photo
                +img('new04.jpg')
              .new-desc
                .new-desc-row
                  span Бюстгальтер №1340 Sielei new мягкий
                  button
                    svg(fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                      path(d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z")
                .new-desc-row
                  span 5300 ₽
                  button
                    svg(fill="#ca3970" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                      path(d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-8.9-5h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4l-3.87 7H8.53L4.27 2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2z")
