extends template/main
append vars
  -
    page_title= 'Примерочная'
block content
  main
    .section
      .bread-crumps
        a(href='#') Главная
        div
        a(href='#') Примерочная
      .bread-crumps-mob
        div
        a(href='#') Назад
        div
        a(href='#') Примерочная
    .size
      .section
        .blog-title
          h2 Примерочная
        .size-table
          .size-table-cont
            .size-table-title
              h6 Обхват под грудью (см)
              h6 Размер
              h6 Обхват груди (см)
            table.size-table-head
              tr
                th &nbsp;
                th &nbsp;
                th A
                th B
                th C
                th D
                th E
                th F
                th G
                th H
                th I
            table
              -for(let z=0;z<=9;z++)
                tr
                  -for(i=0;i<=10;i++)
                    td 63-67
        .size-desc
          p #[strong 1.ОБХВАТ ГРУДИ.] Сантиметровая лента проходит строго горизонтально , параллельно полу по самой выступающей точке груди и лопаткам, прилегает свободно, не стягивая грудь. Измерение снимайте на неглубоком вдохе.
          p #[strong 2. ОБХВАТ ПОД ГРУДЬЮ.] Измерение производится на уровне солнечного сплетения. Сантиметровая лента , параллельна полу, проходит прямо под грудью и должна прилегать очень плотно. Измерение снимайте на выдохе. Ближайшее число к результату — объем подходящего Вам бюстгальтера.
          p #[strong 3. ОБЪЕМ ТАЛИИ.] Измеряется в самом узком месте. Лента должна прилегать плотно, параллельно полу, но не затягивайте.
          p #[strong 4. ОБЪЕМ БЕДЕР.] Сантиметровая лента должна проходить по наиболее выступающей точке ягодиц.
        form.size-calc
          h3 Рассчитайте размер бюстгалтера за 3 простых шага
          .size-calc-cont
            +img('size1.jpg')
            .size-calc-desc
              h6 Шаг 1. Измерьте размер группы
              br
              p #[strong A.] Измерьте грудь, используя рулетку, убедившись, что лента параллельна земле. Он не должен быть свободным или обязательным. Выдохните, чтобы получить наименьшее возможное измерение.
              br
              p #[strong Б.] Найдите свой номер (дюймы или сантиметры) и введите его в поле ниже. Обязательно округлите все дробные измерения до ближайшего целого числа.
              .size-calc-input
                span Мой размер
                input(type='text')
                span см
          .size-calc-cont
            +img('size2.jpg')
            .size-calc-desc
              h6 Шаг 2. Измерьте размер чашки
              br
              p #[strong A.] Одетый в бюстгальтер без подкладки, встаньте прямо, вытянув руки по бокам, и измерьте самую полную часть вашего бюста. Убедитесь, что измерительная лента параллельна земле и не ослаблена или не защемлена.
              br
              p #[strong Б.] Найдите свой номер (дюймы или сантиметры) и введите его в поле ниже. Снова округлите все дробные измерения до ближайшего целого числа.
              .size-calc-input
                span Мой размер
                input(type='text')
                span см
          .size-calc-cont
            .size-calc-desc
              h6 Шаг 3.
              button(type='button').button-hover.size-calc-button
               span Рассчитать
               include ../img/keyboard_arrow_right-24px.svg
               span
        .size-result
          span Ваш размер бюстгалтера
          span #[strong 42]
          button.blog-button.button-hover
           span Показать все модели
           include ../img/keyboard_arrow_right-24px.svg
           span









