extends template/main
append vars
  -
    page_title= 'Главная страница'
block content
  main
    .section
      .bread-crumps
        a(href='#') Главная
        div
        a(href='#') Акции
      .bread-crumps-mob
        div
        a(href='#') Назад
        div
        a(href='#') Акции
    .stocks
      .section.catalog-cont.catalog-cont-page
        include parts/stock